.ulprop {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.liprop {
    float: left;
}

.liprop a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.liprop a:hover, .dropdown:hover .dropbtn {
    background-color:#007bff;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
.ana-section-ozellikler-dis-baslik {
    width: 100%;
    min-width: 1000px;
    height: auto;
    background-color: #fff;
    border: 0px solid #cc0;
}
* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
}
.ana-section-ozellikler-ic-baslik {
    width: 1000px;
    height: auto;
    border: 0px solid #cc0;
    margin: 0 auto;
    padding: 35px 0;
}
.ana-section-ozellikler-baslik {
    width: 1000px;
    border: 0px solid #cc0;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    letter-spacing: 2px;
    color: #434547;
    font: 40px "Segoe UI",Helvetica,Arial,sans-serif;
}
.ana-section-ozellikler-baslik-cizgi {
    width: 30%;
    margin: 0 auto;
    height: 4px;
    border: 0px solid #fbfbfb;
    background: radial-gradient(rgba(200, 22, 22, 0.30),rgba(136, 179, 90, 0.15),#fff);
    border-radius: 100000px;
    margin-top: 7px;
    opacity: 0.5;
    font-family: 'Poppins', sans-serif;
}
.ana-section-ozellikler-baslik-alti {
    width: 1000px;
    border: 0px solid #cc0;
    color: #696959;
    display: block;
    font-weight: 400;
    font-size: 1.50000rem;
    font-weight: normal;
    padding-top: 15px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.ana-ozellik-dis {
    width: 1000px;
    height: auto;
    border: 0px solid #00c;
}
.ana-ozellik-blok:first-child {
    margin-left: 0 !important;
}

.ana-ozellik-blok {
    width: 309px;
    height: 190px;
    background-color: #fff;
    border: 0px solid #000000;
    margin: 17px 17px;
    box-shadow: 0 1px 5px #e9e9e9;
}
.design-process-section .text-align-center {
    line-height: 25px;
    margin-bottom: 12px;
}
.design-process-content {
    border: 1px solid #e9e9e9;
    position: relative;
    padding: 16px 34% 30px 30px;
}
.design-process-content img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    max-height: 100%;
}
.design-process-content h3 {
    margin-bottom: 16px;
}
.design-process-content p {
    line-height: 26px;
    margin-bottom: 12px;
}
.process-model {
    list-style: none;
    padding: 0;
    position: relative;
    max-width: 600px;
    margin: 20px auto 26px;
    border: none;
    z-index: 0;
}
.process-model li::after {
    background: #e5e5e5 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    margin: 0 auto;
    position: absolute;
    right: -30px;
    top: 33px;
    width: 85%;
    z-index: -1;
}
.process-model li.visited::after {
    background: #57b87b;
}
.process-model li:last-child::after {
    width: 0;
}
.process-model li {
    display: inline-block;
    width: 18%;
    text-align: center;
    float: none;
}
.nav-tabs.process-model > li.active > a, .nav-tabs.process-model > li.active > a:hover, .nav-tabs.process-model > li.active > a:focus, .process-model li a:hover, .process-model li a:focus {
    border: none;
    background: transparent;

}
.process-model li a {
    padding: 0;
    border: none;
    color: #606060;
}
.process-model li.active,
.process-model li.visited {
    color: #57b87b;
}
.process-model li.active a,
.process-model li.active a:hover,
.process-model li.active a:focus,
.process-model li.visited a,
.process-model li.visited a:hover,
.process-model li.visited a:focus {
    color: #57b87b;
}
.process-model li.active p,
.process-model li.visited p {
    font-weight: 600;
}
.process-model li i {
    display: block;
    height: 68px;
    width: 68px;
    text-align: center;
    margin: 0 auto;
    background: #f5f6f7;
    border: 2px solid #e5e5e5;
    line-height: 65px;
    font-size: 30px;
    border-radius: 50%;
}
.process-model li.active i, .process-model li.visited i  {
    background: #fff;
    border-color: #57b87b;
}
.process-model li p {
    font-size: 14px;
    margin-top: 11px;
}
.process-model.contact-us-tab li.visited a, .process-model.contact-us-tab li.visited p {
    color: #606060!important;
    font-weight: normal
}
.process-model.contact-us-tab li::after  {
    display: none; 
}
.process-model.contact-us-tab li.visited i {
    border-color: #e5e5e5; 
}



@media screen and (max-width: 560px) {
  .more-icon-preocess.process-model li span {
        font-size: 23px;
        height: 50px;
        line-height: 46px;
        width: 50px;
    }
    .more-icon-preocess.process-model li::after {
        top: 24px;
    }
}
@media screen and (max-width: 380px) { 
    .process-model.more-icon-preocess li {
        width: 16%;
    }
    .more-icon-preocess.process-model li span {
        font-size: 16px;
        height: 35px;
        line-height: 32px;
        width: 35px;
    }
    .more-icon-preocess.process-model li p {
        font-size: 8px;
    }
    .more-icon-preocess.process-model li::after {
        top: 18px;
    }
    .process-model.more-icon-preocess {
        text-align: center;
    }
}