*{ 	
	box-sizing: border-box;
	padding: 0;
	margin: 0;

}
body,html, .containerown{
	height: 100%;
	
}
nav{
	position: fixed;
	height: 70px;
	width: 100%;
	text-align: center;
	line-height: 50px;
	display: block;
	background-color: rgba(0,80,114,0.5);
	z-index: 4;
}
nav a,button{
	font-size: 2vw;
	float: left;
	width: 20%;
	color: white;
	font-family: arial;
	text-decoration: none;
	padding: 10px 10px;
	border-radius: 10px;
	transition: 1s;
	
}

nav a:hover{
	background-color: white;
	color: #270d18;
	text-decoration: none;
}
.space{
	background-color: rgba(15, 48, 56,1);
	height: 40%;
	width: 100%;
}
.containerown {
	display: table;
	width: 100%;
	background-size: cover;
	height: 100%;
	background-color: #bd94db;
	background-attachment: fixed;
	z-index: 9999;
}



#s1{
	background-image: url("../images/arkaplan/4.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color:#464646;
}

#s1 .filtre{
	position: absolute;
	width:100%;
	height: 100%;
	background-color: black;
	opacity: 0.2;
	z-index: 0;
}
#s1 .yazı1{
	position: absolute;
	width: 66%;
	height: 40%;
	color: white;
	z-index: 1;
	margin-top: 20%;
	text-align: center;
}

#s1 .yazı1 h1{
	color: #e6f6f7;
	font-size: 4em;
	font-family: calibri;
	padding-bottom: 35px;
}
#s1 .yazı1 p{
	color: red;
	font-size: 1.5em;
	font-family: calibri;
	letter-spacing: 4px;
	float: bottom;
}
#s1 .yazı2{
	position: relative;
	width: 33%;
	height: auto;
	color: white;
	background-color:rgba(09,6,5,0.5);
	z-index: 1;
	margin-top: 15%;
	text-align: center;
	float: right;
	padding-right: 2%;
}
#s1 .yazı2 p{
	margin: 2%;
	font-family: calibri; 
	font-size: 12px;
	float: top
} 
#s1 .yazı2 input {
	display: inline-block;
	font-size: 1.7vw;
	padding: 1px 5px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	background-color: #e6f7ff;
	color: #000;
	float: top;
	border: none;
	border-radius: 10px;
}
#s1 .yazı2 .button {

	display: inline-block;
	font-size: 1.7vw;
	padding: 1px 5px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	background-color: lightblue;
	color: #000;
	border: none;
	border-radius: 15px;
	margin-bottom: 5%;
}

@media only screen and (max-width: 540px) {
	#s1{
		background-image: url("../images/arkaplan/1.jpg");
	}
	#s1 .yazı1 {
		position: relative;
		width: 100%;

	}
	#s1 .yazı2 {
		position: relative;
		width: 100%;
		margin: 0;
		margin-top: 10%;
	}
	#s1 .yazı2 input {
		font-size: 2vw;
		height: 20px;
		width: 200px;
	}
	#s1 .yazı2 .button {
		width: 80px;
		height: 30px;
		font-size: 2vw;
	}
}

#s2{
	width: 100%;
	height: auto;
	background-color: #eee;
	position: relative;
	display: table;
}
#s2 .s2div{
	
	width: 33%;
	height: 300px;
	background-color: #fff;
	border: 5px solid #adccff;
	padding: 0;
	float: left;
}
#s2 .s2div .picdiv{
	float: left;
	height:80%;
	width: 60%;
}
#s2 .s2div .getdiv{
	float: top;
	height:20%;
	width: 100%;
}
#s2 .s2div .getdiv .btn-info{
	padding: 5px;
	float: left;
width: 20%;
margin-left: 70%;
}
#s2 .s2div .picdiv .imagepr{
	height: auto;
	max-width: 80%;
	float: left;
	padding-top : 10%;
	padding-left: 10%;
}
#s2 .s2div .infodiv{
	float: left;
	height:80%;
	width: 33%;
	position: relative; 
}
#s2  .s2div .infodiv .infor{
	font-size: 10px;
	color: #1971ff;
	width: 100%;
	float: bottom;
	position: relative;
	float: top;
}

#s2  .s2div .infodiv .price{
	font-size: 25px;
	color: white;
	padding: 5px;
	background-color: darkblue;
	float: bottom;
	position: absolute;
	right: 15px; 
	bottom: 15px;
}

@media only screen and (max-width:1000px) {
	#s2 .s2div{
		width: 50%;
	}
}
@media only screen and (max-width:600px) {
	#s2 .s2div{
		width:100%;
	}
}





#s3{
	width: 100%;
	height: 500px;
	background-color: red;
}
#s4{
	width: 100%;
	height: 500px;
	background-color: green;
}
#s5{
	width: 100%;
	height: 500px;
	background-color: red;
}



/*
.sayfa{
	height: 100%;
	background-color: #bd94db;
	background-size: cover;
	background-attachment: fixed;
	z-index: 9999;
}
.bant{
	height: 60%;
	background-color: #270d18;
}
#s1{
	background-image: url("arkaplan/1.jpg");
}
#s1 img{
	width: 100%;
	position: absolute;
	z-index: 5;
	margin-left: 25px;
	position: fixed;
}
#s1 .filtre{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: 0;
}
#s1 .yazı{
	position: absolute;
	width: 100%;
	height: 100%;
	color: white;
	z-index: 1;
	margin-top: 25%;
	text-align: center;
}
#s1 .yazı h1{
	color: #e6f6f7;
	font-size: 4em;
	font-family: calibri;
	padding-bottom: 35px;
}
#s1 .yazı p{
	color: white;
	font-size: 1.5em;
	font-family: calibri;
	letter-spacing: 4px;
}
#s3{
	background-image: url("arkaplan/2.jpg");
}
#s3 .filtre{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
}
#s4{
	height: 100%;
}
#s4 .boxB{
	width: 90%;
	margin: 0 auto 0 auto;
}
#s4 .boxB ul{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
#s4 .boxB ul li{
	position: relative;
	list-style: none;
	width: 30%;
	margin: 0 5% 0 0;
	float: left;
	background-position: left bottom;
	background-position: cover;
	min-height: 650px;
}
#s4 .boxB ul li:last-child{
	margin: 0 0 0 0;
}
#s4 .boxB ul li .yazı1{
	position: absolute;
	bottom: 25px;
	width: 90%;
	height: 90%;
	left: 25px;
	background-image: url(box/box1.jpg);
	background-attachment: fixed;
	background-size: cover;
}
#s4 .boxB ul li .yazı1 p{
	margin-top: 10%;
	text-transform: uppercase;
	font-size: 15px;
	font-family: arial;
}
#s4 .boxB ul li .yazı1 h2{
	margin-top: 120%;
	text-transform: uppercase;
	font-size: 35px;
	font-family: calibri;
}
#s4 .boxB ul li .yazı2{
	position: absolute;
	bottom: 25px;
	width: 90%;
	height: 90%;
	left: 25px;
	background-image: url(box/box2.jpg);
	background-attachment: fixed;
	background-size: cover;
}
#s4 .boxB ul li .yazı2 p{
	margin-top: 10%;
	text-transform: uppercase;
	font-size: 15px;
	font-family: arial;
}
#s4 .boxB ul li .yazı2 h2{
	margin-top: 120%;
	text-transform: uppercase;
	font-size: 35px;
	font-family: calibri;
}
#s4 .boxB ul li .yazı3{
	position: absolute;
	bottom: 25px;
	width: 90%;
	height: 90%;
	left: 25px;
	background-image: url(box/box3.jpg);
	background-attachment: fixed;
	background-size: cover;
}
#s4 .boxB ul li .yazı3 p{
	margin-top: 10%;
	text-transform: uppercase;
	font-size: 15px;
	font-family: arial;
}
#s4 .boxB ul li .yazı3 h2{
	margin-top: 120%;
	text-transform: uppercase;
	font-size: 35px;
	font-family: calibri;
}
#s5{
	background-image: url("arkaplan/3.jpg");
}
#s5 .filtre{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: 0;
}
#s5 .vid{
	position: absolute;
	width: 600px;
	height: 450px;
	transform: translate(50%,35%);
	overflow: hidden;
	border-radius: 25px;
}
#s5 .vid .vid2{
	padding-left: 5px;
}
#s6{
	height: 40%;
	background-color: #484848;
}
#s6 .sosyal{
	position: absolute;
	width: 80%;
	height: 30%;
	min-width: 650px;
	text-align: center;
	transform: translate(10%,10%);
	border: 2px solid grey;
	border-radius: 25px;
}
#s6 .sosyal ul{
	display: flex;
	text-align: center;
	position: absolute;
	padding-left: 35%;
}
#s6 .sosyal ul li{
	background: black;
	margin: 8px;
	list-style: none;
	font-size: 30px;
	transition: .5s;
}
#s6 .sosyal ul li a{
	width: 40px;
	padding: 6px 0;
	display: block;
	color: white;
}
#s6 .sosyal ul li:nth-child(1){background: #3b5998;}
#s6 .sosyal ul li:nth-child(2){background: #00aced;}
#s6 .sosyal ul li:nth-child(3){background: #007bb6;}
#s6 .sosyal ul li:nth-child(4){background: #cb2027;}
#s6 .sosyal ul li:nth-child(5){background: #bb0000;}
#s6 .sosyal ul li:nth-child(6){background: #dd4b39;}
#s6 .sosyal ul li:hover{
	transform: translateY(-8px);
	box-shadow: 0 10px 10px rgba(0,0,0,0.6);
}
#s6 .sosyal h1{
	padding-top: 6%;
	font-family: calibri;
	color: #007bb6;
}
#s6 .sosyal p{
	font-family: arial;
	color: #007bb6;
	font-size: 20px;
}
#s6 .foot{
	width: 100%;
	height: 25px;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	position: fixed;
	bottom: 0px;
	font-family: arial;
	font-size: 12px;
	color: grey;
}
*/